.aboutWrapper {
    padding: 60px 150px 0;

    .information {
        display: flex;
        justify-content: space-around;
        padding: 50px 80px 0;
        gap: 50px;

        .section {
            flex: 1 1 0;
            // width: 80%;

            .header {
                margin-bottom: 20px;
                font-size: 30px;
                font-weight: bold;
            }

        }
    }
}