.certWrapper {
    padding: 80px 150px 0;

    @media screen and (max-width:992px) {
        padding: 60px 30px 0;
    }

    .preview {
        padding: 50px 0 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        width: 100%;

        img {
            height: auto;
            width: 100%;
            max-height: 700px;
            object-fit: contain;
        }
    }

    .certList {
        display: flex;
        justify-content: center;
        gap: 100px;
        margin: 50px;

        @media screen and (max-width:600px) {
            gap: 50px;
            overflow: auto;
            margin: 20px 0;
            justify-content: flex-start;
        }

        .certificate {
            width: 120px;
            position: relative;
            text-align: center;

            img {
                height: auto;
                width: auto;
            }

            .desc {
                margin-top: 10px;
                font-size: 20px;
                line-height: 22px;

                span {
                    font-size: 15px;
                }
            }

            .year {
                font-style: italic;
            }
        }
    }
}