.introSection {
    position: relative;
    overflow: auto;

    .myNameSection {
        position: absolute;
        top: 50px;
        transform: translateX(50%);
        right: 50%;
        display: flex;
        align-items: center;

        .logo {
            height: 60px;
            width: 100px;
        }

        .myName {
            width: 50px;
            font-weight: bold;
            color: var(--main-brown);
            line-height: 20px;
        }
    }

    nav {
        margin: 150px 10vw 0;
        display: flex;
        justify-content: space-between;

        .navOthers {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;

        }
    }

    .about {
        display: flex;
        margin: 0 auto;
        position: relative;
        width: 800px;
        top: -50px;
        color: var(--main-brown);

        .title {
            position: absolute;
            font-size: 40px;
            font-weight: bold;
            width: 200px;
            top: 40px;
            margin: 0 auto;
        }


        .profile {
            width: 500px;
            height: 400px;
            margin: 0 auto;

        }

        .info {
            position: absolute;
            font-size: 16px;
            left: 77%;
            bottom: 80px;
            width: 25vw;
        }
    }

    .linksWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .icon {
            height: 40px;
        }

        .links {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
        }
    }
}

.technologies {
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    margin-top: 70px;
    background-color: #ffffff;
    padding: 20px 0;
    border-top: solid 2px var(--main-brown);
    border-bottom: solid 2px var(--main-brown);
}

.link {
    border-bottom: dashed 1px;
    display: inline-block;

    &:hover {
        border-bottom: solid 1px;
    }
}