.principlesWrapper {
    // height: 500px;
    padding: 80px 150px 0;

    .principles {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        gap: 30px;

        >* {
            flex: 1 1 0px;
        }

        .section {

            h2 {
                margin-bottom: 20px;
            }

            p {}

        }
    }
}

.headerTitle {
    font-size: 50px;
    padding-bottom: 15px;
    font-weight: bold;
    border-bottom: dashed 1px;
    display: inline-block;
}