.projectsWrapper {

    .headerTitle {
        margin: 50px 150px;

        @media screen and (max-width:992px) {
            margin: 50px 30px;
        }
    }

    .splide__slide__row:nth-child(even) {
        .pContainer {
            flex-direction: row-reverse;
        }
    }


    .projects {
        @media screen and (max-width:992px) {
            display: flex;
            flex-direction: column;
            gap: 80px;
        }

        .pContainer {
            display: flex;
            align-items: center;

            @media screen and (max-width:992px) {
                flex-direction: column;
                gap: 40px;
            }



            >div {
                display: inline-block;
            }

            .thumbnail {
                height: 800px;
                overflow: hidden;

                @media screen and (max-width:992px) {
                    height: 400px;
                }

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }

            .info {
                padding: 80px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 40px;

                @media screen and (max-width:992px) {
                    padding: 0 20px;
                }

                .logo {
                    max-height: 80px;
                    max-width: 280px;
                    margin-bottom: 50px;

                    @media screen and (max-width:992px) {
                        margin-bottom: 0;
                    }
                }

                .categories {
                    display: flex;
                    gap: 100px;
                    font-size: 24px;

                    @media screen and (max-width:992px) {
                        gap: 40px;
                        flex-wrap: wrap;
                    }

                    .category {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 20px;
                        flex: 1 1 0px;
                    }
                }
            }
        }
    }
}