.technologies {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    background-color: #ffffff;
    padding: 20px 0;
    border-top: solid 2px var(--main-brown);
    border-bottom: solid 2px var(--main-brown);
}